@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  src: local('Cormorant Garamond Light'), local('CormorantGaramond-Light'), url(data:application/x-font-woff;charset=utf-8;base64,d09GMgABAAAAAGjgABEAAAABAnQAAGh6AAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGoIcG5hoHJMI
BmAAhEIIggIJmhYRCAqDlGSC4ggLhEAAATYCJAOIfAQgBYJYB4tFDIFHG6/lBxg33wXQHaAjF+11
gYgi2DgwbA3KRgaCjQNYY9Yf2f//KUnHGG7oB2D+1bUgy8NNhXtmBlRjUCIjjpkoIb+/QCpnOkJ0
ClHzOuDsuCEOFsueSHiZJ7xH/CV7iZcrnGWPXNUwumTL7veo972hlwWHDHVZGHDDWc1r07hOKFp9
u1WyX1kbsgrXEQ9vflk8WFycDqWxJXUfW1bibbpP8/mkq0x92hnYNvInOXl5/mmt3nNfzfTMJ1aE
GACy7GLNRiWOhI2LWht0gF3Dk27+3bvLvmSzszbJJiQhATIJCSusMKbIVFBQcSAquAYCurEW16za
taxWv7/aitaxS6dr1dGlh7/1NjMhQRIIEfS9ijp3vmzFqVPnzP3ziIr9Pnv2/buwBKDyUQCgAUAT
CsMKAIWPA8c+FeHu/an6ClJU6SxVEkXhEQBrU7EduIyZdBmWvltzliWZtt8ttKVUlHZQgVE2fBAg
w4V0D0bQBqWnonaKVl01urBFa2X1M4WAZo8JlM/bWBUf0mn9mxGggWRgyZKRZB5zEjmwlIsOkMrr
/nbV5/oSXFBjSme2SjrpvzOE4CBEIGkDAO0/y+2pXTAkbIKjmDB0wCvtzDnAX1L5uVq6O+hfQEhU
EC6JUCBUb4rJeNqv3UWoFEURqjdh8n8kl34plVoWtjlChEt+1NzUMXFTfX/Or53STImcX3zLxCna
ERP9Ve2wjJg4lheb2LR94BGgfNBmwKwASM//f1PNe+8LP8wwnV1SDilTTpHgCBJXAYYTNJvg6RwD
HLCVu8rltp2PCaL9fm++iKGyqGU/8E7o5MRhWyltgSRjJ2YsZ6asKVT98+izEHnz8cuVYFMuytVm
CooNT+wnO47PQkgbbNlUXgkGbRq7UxaHWJL+f8t3did3X0qfMwE29Cp0aXKQKLmT+Z+z//1JL5LS
+lJaUygQkihKlx/VisvB+GAsxqj8/76q1b73AZAgJvEfmR55NnEytVHc2JKUZ0OK5eYO//73A95H
/J+gEEgaBEVaBCSLIEQNDXAlfOCTg0DxUFSI65VoTwrypEQCCmPAkXRUcqA2JXlDTqWrDamockd3
W065Rely21SFVG/RVbvL0rIRSIK+eEpnbQwyj3deyd1OzKzs4ewLa/rlPi8YTzNCiCCC8Qn3u0Pb
RFxidhF8ZCbf/oyp/x8TTZuO1zdmx80SBAUFZR0BRxKbP/uUgCwHOQVS8AA9mFEDWJNBsFV2A/bY
C3Y3CAQziJbCI6RAuWZTzddn027dvT4x4ijLU0ZWXTEKEETQYwIKrlQfKsoGTmTfkwzOZHD9EQl1
TpHoEL+UMuCbKj0lBFVpICbm/CSMro7BrZtpNVmJSx8LedKFQpbyqIUsuKMwgLPtRy4B4f5YSEED
BX1uZr63hd8YgOx7P5cC5/cgSPvETUPsl7msDih+MGhdeOK/S54AtRoKqt+tDk0MqP/ZD/vN/kE/
qh2Plk/2TdDnUX8A6ut3+68GnZwIxvUnKLejEg+dTqLaT04ErUFe4hEr4GGcuET2EUgIEul03Fwh
umwDESl6l3yuH+yn+2dy6bkpg49IhqOek3h554wPNIc/c9y8yAcZaGwgYyLozRUABT8doPrf1Jn6
OzcpA3Sc1LVOWOgD0MCtStzU0fDm6ddLN2nAUylba0xZJ1/ZTYs+400BYw8fIshSZARUNEQcHGRc
AhQSKnSJdKIZOcRLk07Gw0vBL0BllVU0gCgCE2zCY1CLC8HDg+ITwJFh/MMpEYGGFp6ODpGREYlJ
MjIrGwo7O0wKB6o0aRAeHnheXmR+fogMAXh2THJ4NSY1UmA+UUtrmIQaTMvC9AqLxQRMiILSB3HS
lUIGE0yIg7Cgak0RkgcTZikKWJpClqGIpSlmGSKtaUqUY6hkmarZaDUsXW3raOOMR9fWmmaCDgyT
WJrJLMMUlqaTpZvG0kxn6WYMcczU/UnsNRfBPGDp5rcmWWAhokUs3VIWs4xlWM5GW8EyrGSjDbSm
WWU1YBfLtK81zae+gPdNa7zjvsV2onWUk/6H6nRrqh+chTfCRjm/ENVV17Hd9PPN8Qu0pvrVH/Bu
s1Sv4mwgI5bHzqh7mOG82Q4Ta2P6tzecNRrwcsMO7RT426ydRBp9K+duPp1F6to3V674wb93cpNJ
6hQERUXTMqiVQFocw4Ad0L+XE9PtbEMjKCxfgUIRJUqVKVepSp2m2sattSaZotNU00w3Q3fFKvOr
dDmXGbTaGutssMlmw7baZpd9YGGVYEQwAGIm0/uETBBAnuloGpQZNBFBAEDhIlpB1s3E2LOXo6IW
VrangajwnHDmD5Fn4PFM2MKAxlaAmWIWwIEOHPAgAA8C8CC0UNUtkqRBErUx3iBAAB4ExlsD402B
acoyMAKgjFgA6Exo/mkJ+vUjAg8KqMADBszktgcGjOGGBwYyyMAAA/PI+bJ38Jm1EOQO2nqyLzub
fmemOlD39M6Z8WAa1G5/iiXGhJAzO+O8q6657qZbfjLqZ7+47RUAh2mBnWEGEgEzLEjATO8ODrZ/
aWVb3M7O8CYwXk8Q4ySztCqBwARNmLD2FxEABigoN4TAJrf6KImYtVas2rtZI8WY6ns6jOJTn/nc
F74hCbnlN7+n6wGJEo04QveqLsJH+YskKUiRa6wABWRQQG6mqIJQj2vSggQyKCCD0kI2FZjkQQYV
NKY74EFhSl2BzKCiWsjeW5jogDHmQAABGBOqCARgHQSgfdsA02i7cvLrjB0LWSUgOi33UAvEKNsB
w1cKn68Li23BO7QwSDLMbquZYV5buytgQCzZ5tsoAcBYK5LLjvgSfGM4OgkciX3EWDIYCEGcYxAU
X+VM1Tw7A2XuK8K7CuZzhruq5+tuwbglRlUwdTlnC+auzFMEfauyBcH6NdnyYPu6PGXtoQ3Y4LMN
BXI+SbUpA9Aw3ycgWHgTUGz8CTgcggl4UYTjCKKJVhGimHECSSzxKrI4kuwgivgJmATSgRMVl4x8
W0wU8Md5oDQ2mcHf+1vCXgK7cR/6E0QEDRzEQwg5NDCxrQMwpafsSkPHwMQaRNqC7YGACBQ4kIAH
GYTtgRgG1fFNPba7lSIofXhpJrX41tr62rXJ5snJKYYLD8PDd8Pr8ju4wlyIkYEj/HT9oqHzZ31I
h4TxRXRgUmjAquduBcCJTXx6XOgwM5xEJwbcqOnxyNK5uB8Qfu+XWma5FfrAyBAMsaTMQkrUmmBW
0T2lQfn4rdQPhorBVa1BnEkaLpzBxGE3gF3NSSU+kR8PyvGzh88A6io4n1/NmkwGZISndFgaOtu5
rSTmFNFuqe2+csWzkGFxXKnNXJ0aYjCxlI1lPSbdyY6iLzOb9ZH5twkIdvRLEyLU0akmukhHB5sY
Sjpa3STR1lFXk9SE9rU9sJTQUabF0d6goF1K66WM4PNjCxQtU5PO9PZJcbyg0M3kkbSZUIynOXCw
qtusMB5kNZWFkiDgigdzzQSfjACFB/gbVg+0DMN5RhlA4nvBIFG7ulpPISLwGRdnFrP51/lcyQKD
z4CLq9qRZfAWRB38m3sjPvXMU36wV6Rp6rG5cKceYT2jnoq98y9fjlz5ipWrUq1GrTHqjFWvQZNm
LTpM1aWneZK/ccwpZzrsqX50wUWXXHblBmMgMEznG20C2HCGIABDjwOUwZymeEIMX1UBntxGtYxs
FtZtAUh0DYyVIiYfGnDtkcD6M6bYYn5bw2q31Bth15RcwHz5KaDVmXRQG+hzcULRCPVZD8DDrAIY
rQZUYVMysHHJFFaq1mZ/aPbAM6+9CQqTYUairYOokG/9rCpsUFU2qmpDqsEm1eQd1WzzmKnWApnD
ULsAlVjkdJKlyZArolqjCaZs6roLLTdo/Ry/O/BMZhqkQRqkQRqkQRoUg96aEHh4tdGOm6y2RTbY
KpvslM22yam2y5l286BQaVQRH7TQ/mXBq0ls4hKfhHDB8Ko7BKFtMP4GmnqTKAEff6WWCPTizZTP
EqLaI81eAZlSP2LwTw1YYrGbYFQAl4SWjl9QhTbTdOl3HVJUWAMHqitVCvJwfkw2Mrl9/+Zts902
sc/4+eVmFVyED56JF8eHTjWbItgGwVdB5Ex1/Lv5T1FVrVeaWaKl4wO5z0mmZzfbB97CxhTWybpW
N7Z5YbyQLxQL5cIUoQ/H8fS++vYt2boGKYZ9JKOCcU4YK+TObnef35h+aR1oXP6mGR2gxS8MWrzt
sYCfRzNHXbduMZga5I4fvATlAki6Pe4vcIxpx+/c95d/nLWKz/eNx0667rRzThjxwnN/OuNvABkF
FR1HlOhe3RsPn5CIROJGGPOqMg0vcrromEtBoPPhCH6B4BWZGjJ2Zi3MfH0Qsuv82sDNHKJ55u9d
5MfA0AWv3PF/dz10z6MA6L+wvLHHLa/d8BaOCgT94TOfhw7963gYPrXXT772laO+h4dAEeEQkGDY
N2obJogVJ77vf10FKRkVuaeUkpklsXDQ6JIjJEuebLnCCpV/BeLq7fhzFWvVYYKJJmv3zCQ9Zplt
jgWmWkhtimuu2nAr3ce/2DsuEOKUzQVQuzWmM9r/nHWpjIG88o+4m1hY1bHp6vgv4a3unjfLLruO
t/NowdX1LWsGtADirOMVPmunSEScwhPY5f2FbvyEfRlsupDlzJ3vpxCNWiBe+b4C2/8QfNmm+PrJ
c3TD2luYIb3ypBb/yzKSeiwjYy3hE3vpdSDC4CoSsFTMKlJgAv6tIZ8+dbXA7I/7FLO35EyPPnsr
1qQn8OHgJ8DUvBh3k/umyMi+OGFNCZG9x/RoD4X+HoYZ0uv4RqojrGgpTdVXZoIm3qAlYkjcbg4I
sZanYd6KHNAHeYsTjgg88BiJjiIu0lirJEVFHmLFYpKFyuEsaOs00mEeoFi4PnInu3PfiVT6/+e8
514/g3w69OHAxCP1olZBduyRGrOIbA7HC6DEogMFCYmypCICwmyMpNWMHLULUDi5kASomahx/I+X
ap9LIRa0rIVe9XQyOmkq7LvHFnak6MPgVDkEiUsrQt5CtTlZJSZQqcjCuYWlGzKAAuSs6+yxn4pG
6mNlAiNnDelgzPydNulmb41YfWxxTACZdjI/FvRVDMLJgJDOLVLuGYtOGdjDz3EgUjGEoITdMQb/
eKmTVc40MyC9Lwd3kcwXxvaJz3zT07vjja1cyJHVhkO/fdz2GetMsZZRZIR4KoduKSSlY8jVmBg1
l/UODowhOReQs0iz45LJm0uvITJ4snJE3DrNNUS5C98brtQ5ZAC4RhY/GfFezQzEpEdCYt2RELqX
QAxzGc0nnqHo0KcWHdVIsXAIJOXvyHoeC3l26f0cHeTxH8XNHa0YR0asqJhAJktkMBQlGQ6lGB6l
GQFlGBFlGQnlGBnlGaW3DoG8LMVi+8QLapKvm8Nu8xsX6g3zb9tmvWP+e50uYI4r3DZcxAVcworL
WLGJFVtYcQUrtrFiByuuYsU1rP0toIlR1E4MjBRo5Vtp/SiTRFtpOqYDtp3tEzd3AQwNBDAqcUWe
hsavUmM56gmtyuSc3VMWwlnfP1XjlD4oxi71D4BXujqGkt0kCwiTuOCc56rC+AUAOLyTlTwIxrDX
yAhoMFQ2QOyN3b6VxqivNBUnaF6SJjc6dopM5fweag4R1i1RdjO9HspQIvzIPFXHRtdNAp0tP1aJ
LgiDYfDxduZR5qfCYpo6EWiSu9/BrBM1Hx/5FSeyP+n7D4yx7ND/pA+LEZNjadGn7iEal4lkYXpl
4GfleS/S8CAj74x5KMNEyDFODPfliwZpeIhlxQ9EgbkpPskgrhihzAGp3XkJuw2oOeVxKfMZPBAU
LF6yIoTIJ2sUU8BqgTwmM+TImt1zCBxo+IVUDkizsl2/0ChfkwcAAiFw7uV53hAB3LF46Ws0Ys1K
alPoJLrfJ1pVsPlmJ57LGdNCkGhM6/yVFm76iYbXf1ZzRd8G1hAJAGi/vOMw/YE5Uo9G69wJWnTa
bz7hkTkozegMY7/M25KuC0vdlZx5Kj00qbWHyUVLIM+aHY32Goy0xEmM3oiggXGtcBx2KLPcM79P
YbRXxDBlwQJ4PL1oIyvGJoffqn7o2Au3gMBxquzBb6UuWCEZjM/OxM2tdriP5aWWdXS6Mlcbr8sM
8uXjGPtuSk7vyDsVjL6gxiBZJUjqpYxfH713wm3ZjTGgW4xVDIzUNoKwhoGRlgV0G+sYGOltBGED
AycaNW8AuU7YZIKR+XEEYYsJplYcJoyNCWNnYMbBwNQpD99kXFBFbhtB2MPAyMsCuoN9DIz8NoJw
gIGVoE74himEPaYwvmGKYI8pClUmxoSJMzCTYOAtSc0rpHhPSe35Dv225jT+QzMO5yuYydlNF11H
OQuZ8hZChfVwcMRFswOXzA5aLpMBrggDVLUQqlnIUc/1TtwwO3HT7MQtsxO3hTLqWAh1LeToQX0q
7ptT8cCciofmVDwSymhsITSx0DbT1ss2Cj5UZee33WpYQKRPXbyD/1BWYHD7lgaR0SBqFigzQftX
zEHH3gCanADVV9Cjkcgg1Y4SVBQMJCwPyyYUghSLQThLxTYmhdwFZCDHLMFG+kW+EeWLorgVG5cD
jvw26HKAPqtIFY+dTSpkwOmylIWYhRYJQSAuDD0EgWSlJJFzAkdQ4m/h1QlROhyRIgVX5LAKXLiU
10+50wLVN56P6T1H9+FL+Z9xew3mxKGTvsrRho2V5duhgdPR02XhTm02ZGWrg+dxZn9txkterUU6
26p/FF2Yt7GXunZc6udWe2kGebu/5aS3uCvUrtQAWeM0gcMwM3k1uBg5vF0eXPn25hp9+cj4F/nH
vgzEpO0/v5c/jD/k/XLbdx8flgbOZ2cRmT+PGmRAwaHpmXa7f6CzFXl4uNvqjfSPul0WKK1AOQB1
DMCrL6EPoE851Nvb0FBVRQQgLAXXfdNPq1aYc+yzrad2qgECoprKNuoQMAb0XuW0oeHlqjWRcQMG
gCoBlBGADkKpFNMv8Ae+DQkBtL0W9NECcvIi0JjENX6xMoUzcSgBsTcBgYJMjMmCxAJBCIHKyF3a
3x32t8a4InmxLvP+gjiEUgQTVFG+B2SETs+Tu1p4kurmeFvlVHFOlb9jDwCxQRIYJ44oKtXMDQG+
9apWIbk9E5PAorUQDIsado4gOuUIdMyadfIpVGxmmutQlsBnXhDkvwxgjHEFSXIPHxAQrgd3WXZL
IhRwgSv0quwa9Y4gbuICmGK8O0xNLgNaKD6SKkYNxkbRkDVNRsbAMISgQyIwI6SvGaNpEnAuj4e3
WwsCeNH4YjAoYpaACmGDsWohQLGXkAG7Z6lJMwXiPoWPKuMu38oUEsN8gmegSexcQa3Yac5tscyt
LNAsOueQH6dMiU6AqLGOR3lFEjyp0O/UVRwtdOPlXZtU+8Se53TMumavHhHgAUVIuWr+nToGccs7
AfchmkuZ+MhU44ZORJYROOnKK6DoTJMnh3SKlnhaBANfKw/kPcSwWOgP5kIjLvrbTq8o8rtFXafd
F9JfEsDfgq2TFcOg/RwgNcMYr+AZZqL8JT1hGwr6Tpx6J9nO2I49Kmjht+04319KOxmXhbAcUEOu
4PGz9NHvEy9FktO/hlyuQ/l8nySPYSF7Y84Yjd6y4tMnqP5wa2xc1stjHSyRz9+80t854pr0Xa+D
iLlB1niQOFhErbge2nWs8hej4GqxpPy62264VDCkXx0C37bncwL6vmpUkthxpZKoWOuiqXUSWmu0
i2gzP4RP2qSeVoP5RhCtoOrDjl+dZWM0GurOnWde0vMgskdshE9a0LE2xaeiq15kNM6hav/vD0l2
AM6Qk4uFTSpmHA69q4yiSd7QFFORx0VWXnq6+i7YGPFyDSFWZQWqgXRTf2+2v8qHuhuLttM+qZiH
0n5ih/2fXa3cztIW8gcU7PMxOu6o1JJ2L1RQN8frGqKU5GBca6EAbyeVBJABqKfEMR03Btqss/1R
vsaa1/VZ3CnNBuDIywh4T6He4Pl60Xql7kznW4Y/nlVXIU+SF8YfP+mdJLJ531H38MSxAjOgesjW
3IzQwGQFekybup755LjpgHz8JKWv/G2cQtPGBwhsqhwE7O3x6rKkgYVQjXe/b25crq/cWemNsCow
IYAU4rKsxLqs9/BsnqwglJMhnBpMAjcpgW6WLzZP7lCiBQE+MWPwmkV7hPhMamJ9iJ0fukMGe++2
qD3JcQiVv2duZCcT1y6YGv6Y9/FfCP6f0Wnlq4pEjPv2eTsZiwSlPljDByHvcToZ3QQDXKgCYoWE
VqqC0OMNQkxo7l3z3MHXIqpyEGst09xiLE+6hwgeCRaCiRsdAqRojxM82f8x5fJGByPwaVUceDCD
kvsvAwgdkEX5MAk70oZP4O62Qs+4FHElO7B1QKt0iS0iIB3FOe6sTECD6UaTiqaZOP3nxKOTI3w4
9SUlST4HhPLM/airBeY0r2ZATcWQz9bNjDcJ8X5MrU9isgyM/v2mKue2PxTiSrwKpJBL5RBs/Yw4
9ENlYoFM2RVIK1QM8DISG+YykD1oOUmvfam6g55uv+iL5AAgrix9bBPxcy6qd1lAAJjMEpSakn/I
oEGhwCuJRjmnTYpoCcWg7IbTg0EI/UjRvNS7qBQ2gv8JNaXLXCnKPnWlyVV8k9gsoLkWhY7nNXar
HeAJmkeQREx9yx8CAzSodKsRNtiNdmfp4WrSCb6Oog2a+j4GBPrx0Z8T4Hi3VYH9/KB8SDG4sTRK
La1/Kf1Yc3neiCk5z+xJ77wtcruXVRGKIYKZ0TdZPMaFPHFKwmtRO/7Qp5aCduRQ+oSjYfXwxjS+
6cNiGFZwxx5HLZFjfZJPX9UF0T9EsvnzbZ9YUuGHMl6VHIxALhb6v0xHJtVB37qcBzfgGchojNEJ
FJ1qM4xA4sqJTHKcOiNXlb2NjXqjqMTCUd60gZpohQxMNBLrnxnMr9So8NOvSiILNZnMJiSkryFC
n4Oatr54LCl+lpnMbtmgbzm2/ZZJWktJG4I4iy7LTporZHtqdUM8GEnkJTq0GGZYFvXWDh8uP4Cs
bs0PRsdV1hcMoNwLjfLr6OlHA6r22AsiHAkV+1hlLfjJFlSJJ9ZhoeCBLAOxKnE2vvAIrSuMBLL+
0mw4GDgWG3TGw8b1+MadUcB63Ps7s4es21fmvebdvSpjKN7MOWVzKBeW6LRJIrW+k8AfDNN7ZeSM
GdrtKN5PXh4PKJLnJwTPvt55FO6TChGKeoxpmxLuErmRODvjDzJqkCN1nkYM5oCXYrQz1gPHkMT+
UlkGyT57H3XpXEIjojZyjen5DRO5Dp0JNJ+vDkf8CClbRApRezAw7KrBK17MiFCn8N0VGnHB0ydW
h29kngtxn1H8NXTwjpt43fVOavWJGkwMwKmnlKIrPEzrp6997dkIOcpMihVyXH73iJRdmQo4KggY
3l7XIL+NmfxK9Y11VzlQhtOC79p/aP5G/WSpM3meshc2Gi0PvHygg5zxlzCuDPApfp223+AD8v+N
lKJeK4v8SNPxeVGowk9zpzUxF+191ixrUMnnWMDSkBlUraRPQfiMxmtnV4ypdfmUx4oNRXAlvj/+
7WjD+pqRaFDXnjl1jjbq4t+oNpYUiwSdpV6Awnjws/IuhaSupunU6jRQLwrlL4YYcrjxN0ASxBG5
5qQvnXa+erUetuik9DcQIPSM5bb/aU0S0JvNSo+YSW4WJmYEK+BV43TV6fSpIKJA6/IZpzJJ6lHk
vaFOnKoEttMRB9dpfQQI460B1JRCkZJkjD5lGtoXzZ1oWzdFIqhlSm1Bhv8Fahag+754+0imDwvS
kwIv9CGpEgWd3AGuKiJdhcw7e+yrzE/ZxN2+VV5viF4uUgUFR5gx6EGn+wlKT6OxpVkuoWZVkBEC
LGQ3MIgv16KiS5OgJtH62kZL2l2t+XwjneGzCuXNOZCWUkVOw8E0vANGMtNnYMqRiiJo2Dc4rcnP
J1KcxSRqpilXAlOBFM2vX50LUzxI6PxsHLS/hDJdDc+oGhpchKi0oe7ANUD6uTPK8+4OYFkakIAC
v1VZ09VTlXYyOPYYwiInpyEGJcSJZjtoarnsKNZFSLr4yIsAhjT2SKbOSO5wOhvhtpBspKsQvTkA
apOWZk09p8bxvDRH7c1WBaiBYRpbZRZeVkc6xBPO45hF6O5dk856Rf+e+CVR8BlHrsF5M14EyYPi
USKvxhVBS3vK5yYcBYytC0ZVu+hB/ddGQAPszW5Nd4ym0bDLYTWKeOkSHBUnFceJs1KQkST1lBi/
aRekGY4Yr9BkYf4xuegj1LgKA353ccxN4xOuPCfaw1K2az6dXp4XUKRXr8cPmxuW1RP+ulzpvN3D
8WLvy59IarTu+Z6Uhg8rN3V12LWzjtyxrtUWmt9M9hgFI7scKxJa5ZTv9i+5C1hBSOhO2eiKPY87
7S8kZbiF2vXwEARZDH/QCB1iVBE14ZUnPiKADZmyKiWvyIWUsYHh0Y6ZfIupyD8U3KsZ9zL6Hecp
h47dSPyl8ANaj6T/TdRPehJsPmNDHRV45I1DPpZvlNOVDE6SE59Qqbwu3wrjMbLuuRk1kjDBKcUY
i0T8Hk8LuYjZRGobSx3At0vcAKLZUzWKJMzKxxAiO+l+pc/0J4Mvp8m+15A+6Y4T8B4dq1iexth5
d1flJ/G48kPFbpPA3FFnwF53csXaTM6v+rqrv8kn1SShywBju4yON1ZwTpYBQuixEb9Kl3NBdtok
rZxPoYOPMk0SLkhVyaUyDR8+ze27tgmu4UvIfpFOczWeq7tlKSJXSJyAxwjwUZmoon6ldAs9CIW5
hdaCCoqd/5oNNzsqSJ+/XNHJNzqDIGB95j5iAK10Uhsdape/JYJDKOAX+GUcZ2qtIqMi6fq+mhwD
4l74KT0iO8Y+Z9+4bEmLOGfTnI3hdoKNR+Yezkm0+ujsQwVg3WHT63QrFicd1HDD/xdCfUY+NpYL
tmwW/Nw7S/LT7m3lB+YKYD3oquBdqRFAEw1cXV0D/uYVLiOJ2r7BL4B98YR7/YYEFyTnpD1aP4v8
qHddD9PG/8NfmMqHyygiLtVM6Sp44iPpfBBgADs+EYkH5O77k2YZBg2p+laSntoO/zXJ5gTHxD9z
95WERXEtXF30uC468pfrUCQvnBB/R7XfuSzyJbVNFtVUVXD+kYYVhkai3hcNqazUrbgwjKgDhCw0
ioQpgqZT9GPUXbxA/vKZ82Gm7YIhdJ3nTNkRNCaTYwchZ5oK4fwKU0X8t6D5NGMy059k9K6oBxj1
LMP3TKZxRFSIZ4Rr9oPiQIvfZTvrs8gv2gpS5Kxjb4ukVhX2T5w54anYFUMdT69f21FxRlAwH6+7
bUXla4ly0myBUdwZ+QvTNgkOssAxVXqEFreaqxeGJ3hxCLg29DcYimfrJtLvmFI8TO4zKr4ppdGq
QYw7eJFt2GzNlxpPhwk81/eQL8oFvk2UTKl36S8u5o7OY9OYmJ6CR7Y+HfcKMaVgbbZ/uKejqaiv
CAy1kL/afwRuGBpbk+kzoLXe1PY3tYL7m9hfS7I2eA83dUj17uwaf0kRhfm0KJdT816KtbdYBatY
PJdLXPPNbwoqii+LkkO9enP/HNllVE4Z/Du50qvrdOddlwIjdFzDnJOG8B/mKswkxFd5/g6mIAYg
9pT/Tdnz6aM/4VsEYDtH0byB5URHi5k0xmEdLaIB1NffK+5FOpA6+7lQIuD0xRtNU8hviR6bBnye
EskG0qMqCRybjLF6JEHPzIqmw7302aIy+QxDnTpg0c6OEykW2BjJZZ2Kptm+hh+eFllII+6oTraq
ztpeGs4b2I6aOtFabwBDp1JvfEHyQ5SEWicAxQPZVGTDn5NK3nBT53rOus9mhXW5TOU9/XaFLKm8
HJMkoX6a8pqGanYTo4xP3dQ7qcT3F8g9wp1Cz63cDuH2/4k9/vomoe++yPtaLfWI6zM8op2iSvHO
sUK3qD1WbGgIizp2dtTbxv4eAsJww68+aalf1480+HRC98NAHPcpBUNZHfmsKOZTBoqhqjQWbffU
N1+XXT4XzfvLjMNwLGY+N455jo3DcNyxkvSRlywSuP20LkkaE1VWeSL/hJ5IJBJNPWsOIX1eYiNp
AGBAETzDv39kwdEHcaq8wg9izLnDdBRDeTmuRtOn3xBIqAZgoIdEgqcjFMRYpUmRq05xR6br0uT8
fysodzOVBjCgLTR03uZ9p5LnK23+6b4vHm5/sGuwoqbKn2wsLjFYxAUj+bFuiCEEGFAGb/DP8k+H
FAiGPOmIZz099EtsYW4oxZiaaa7Drfte8tVoXiCUZkvL8HWUZ2YHsiurcyHXd38lYDc0V6/MLGTd
LpRilA5kGEQVNBQUls4PZi6uKA4PLo7k7tRuBTgCQmihWApTyjnpzVsLKtbWVVes3JrblNi64/BF
hd+nUm70Faw4niBVGeJNTOwNRt4TnHmdLlPFZ5Imd6K4ir3ierCpsGR17fPOeCod7aQgppHeuAbW
KUBAj+SBWInpMKNlS17pksiYytVD4aog1uvNnFdZ6lvRU1CkuVstOMZnj2h2z5t0vhiP1JtwM4iS
SGhwlOJsJS1U1FuL86iLzxPruXBxdUtb3hH5cS1vzeHmCo1fbj/dKD4/YXptiko6R2v8xx6hfqUy
+9WEG23mzbW2WVuuC7mJNgRDVLURiOfs5f2Fw0QFZbi0eG35mNqVu7NbrBVRz+s5FMpEZAuIKqjO
ixTOy8iaW1roW9NX0xI65Um6ctOOJyJSkI3qtWIgBQRcf3WVXduAw5vHTI8vdpynYIgA8vCBFMEQ
pf204P7K+4LTdiXAAJ/hhVoilDAwesCadUZeadQzWVqYMDqQEDfw5BlUhK7LRt0IKlq/NhJZDfl5
qOAEn6DrjQiGPCmOq37vlc6fY3HaMSD+Zz/fVRvpKBL5mNTHNPo/QzP/oSkUkZos/v2NWoCBnnNx
cfn9M2dRMKRdcjmlcPXmb0W/8lv9x+vXmFTSTgHAQH++SMAUSrtqhF+8Z0ff+1nVeTmb1DWHi8yw
Rs9Y5mxkGCHmmokR0hly6zqDQg9yhGgaxjBEwPBAIxIABiTkfTzGyN14Nh5nfh4NEz5GrEaAAe5o
GDraM1GtBKSrv5joW5LRz2Dk42nPnoz+/hM0rSCiTMbR/iiAgaS9BNYI7XRQMfnLdgxJVJnZYIB5
PBF8Z45VIxgSe/QJmUs08VXST1oZgiGGYQ4zH09YWL7l7NJ7H5n/UgMMhM+xmE9rG4kMSn8kd3Vp
U9Pg1mBxzcrS7IGCipp1wyXV49gdbvecsurMwfn5pVN6V3ZXZW6cV1ak6YhNQy8N01x5bt7VqloT
DMEAGWIFQ/u0U71UFpvWIp/n8TJwG0Re/39EUce/S/rGt+o8W60pn+gtuiVt5MUrJ45PcqUQk56s
pkhysdJopjFu7Ka8kmXFYypWbQpXqdrzoFiyOT0FQ0yVqz7hjlgomGI19izyM7u8SmH3Twv3ak+4
iuZ6M+dWlvr67PY1/PcEwZxPk8wHOuzPBLG/5ABCaVu40Osur09M5ksRHCJjPOcE6ooLLKrsTKVG
FfNA+v81eYN1kYJwXXlYRlxikzFGR7zEqPZLsSXyhIZdSXWdeeVud0mD2hI7n/Bv4MlY190hoGRk
iXxrSiy57cyqjqiZ5Zk3pTKTpfavKHXFHJu2vgOKBbqlqmknBUOmxK/YX7/+soA58FjhVyEYYtAv
/FOcV+h2GKxFVyJzJq8oT9McC0QH//VlZ/gd3HXfS07uX3K2rBFLW7xSq9dml2s8kkcFHgWB1guj
/QjJV9yQZcm0p2kVrqXYPy0TNCaTP1+st+76nUJsQSmI2Z/vdlr9RgWJkJGabClqqPUsDEw6MjpZ
oPWllbZ7BZ8HVQiGdELtkBGRp9zna9OTpzQHM/wNYkMJgbj3tyQJikhZGx83e4prrRp9fqnZLqg+
XzlT/cMu1xGQizKn1AyRsgEGUkhT+TgMF20pBpMdbtgLSeNyETKaiJskBRiwlNn1SWvvir4XXN+g
BRgQCbOhTAYJwIB2wwP+WdHrBckRh3W5BsGQfmYU61wPwICq0sDvnNU7PtSW4hgfSH8a8WQgLmFg
BKqqOM7w4zvbZo+taJjUKAhaRPXhdgwRnyFc5yNkouQlFz8R0hKGD9N4HcO2vOAhE+u9Onr0Vi3G
yrPRH2M7Mz5qoD+Y8ksHzpHM5U/GPc1/LPKkGzdqHzX9epSNOnzojnJekEh/5u3z7ZlPo7fGAQwc
MrI4A8PP2xDfeJX9ZU/00WsTaKy8xPLKLeiiYCB+1BWCGG5uYf46MnH5xntLv3GyRKmQyB/1QD3D
cZQqfn1y7Q/Dz9amC3AENmAQPjWcW3A9mbBi3a+zj0ziiFPq2NF8HrPj4J32ucuWfbXj9boJmo76
dgzI/LrPll/8TfC5GiIIeV18N59wce+rtQIZreHqwERPDQvzd5Pxm3c9mfNNIVuYXPMkLylXDfF0
iRQQvp1HOqECKFIAKdbCKJkFcFiTpA0XFPdnygARy3AbN8FkQJ2BZKCr4SDOJnEdI8ZUTE+GwC3j
jqyx8DX/ennbxQ0dsXH5YvFS9v/W4og//3qU93+TInwzLapu0fE/Irj5pYGVRcb3mzrHv3BGZRaj
0k6tk6R0Lw3HFo752gBtuqIve6y6w641V6U/IfqkglPOebnLMtJV7av/YN59x4LGGhsNRpTC4o1Z
WcWRLOJyvyicpM6Y4BOXtxq3MmlPKNEHC/ki5Vj9lzJ6FDttKQNpa1GcrmDHnkuIHnEoLEgG67+/
FPWSggx9TzdHsZCXcLpwciLIIAV3JKiEjUIu/TE12pQjlgou5x/JkWv1WisWxI9C9xgMer7DnSJ8
Ytrjypx7AAH14iWK43LaeOXpCnbcOWHc8JYxfQFVYoEzM62xwWzL3pgpAmi0OGaV7InsMYv5ECAq
w7QUF/AiQ5lhk1G42F9eXB6sc8jcas5u5be3+Z4dlIhNVWZypVXXmZI0flEc5S3GUI6JeU5XJFRU
PKHYVQcQv4jnT1BVdlj+eU0TTpEpp1eMjS7fwr/eX5Vjl0b0ROM9fyejKrn+U0PTEEsLjGZ1hl4d
sWb461tMSZZHt2WP2cTFvwM0VjTDwUCAF6mT0aMEsx+J3HJwYfBkojunosAqKbwlD45/4DtcOqNz
aqWt0KKtsPhTa6r0BifKrXOULHLBaJ5xbmpgTImFCQOfsM2UX9FshFGXYYyWZEovakjeLQ2otClZ
Jbl2eU3AprPUdNYl5rbm2PMsyojZYa2rttlsyy20EOE1ZNFL8ltDgkP9H7t2D55CkF9VkfaLbj6H
yqeSX29CxyakBhYudo8WExEnmVhjaA3BDMH1JTrQeqpBXTsSlyL4bh//54T5Jy3v/5MSz5PQLeMG
mvPzWSXSdIu/YpIlzZftNGQ3ZtbPEvAptfSQ1FqYlemq+kHABVoC5jNq+bTzTH6s2OGX6qXXxqaz
oi9lkryTmw4YtbwcnuxrY6o7aKqZUhVKV9S7SHat0N+gMnnsnpvXKRiIGTG4jsYgGMLbsIm/LfWq
QeiVfn2Rv2kPD5xYNEH2E4v5CKAqQ5cDEAgbZoWUSut+5zG0b/JcKwZ4ezbxv5Q9ZrF/gFG7cabd
ALwIHvZovuIv38NDMCTmqMswEqMangV7NOm+mMgSDiPEQBUVJcWynzAacKpNQgKB+TNLIT/0JDR7
a3AXk0nLu/cPNfxEFPr3jNLfHsuKSUcwJGEkA3I7FAMwkFXue9J9UO/zz5QXsDHeaF0pKhSdxV+2
l71TRI+Ew0djZMTfKKxS0CQQypu3RydwSYdR6rEHOLVFK3g+fLGRmT+d+SnJfxzGbIAqjRPMDITo
lKDZAYVC2zq+OqhSWGamHsM4VMUjysPbwq7Uy0ahR/r1ZXops4IqpW1f6gnEbxnffqzEpq+1u9PK
azXmlIhdV21Js1XVGO3FTHdOkVNVm2U12tNzQ05VfdBp0Gwyx4eUJ8PZhdKgcZO0Oy6kKlo1y/CY
ge4RP5V98tfF6zXPFFi3cPOmO6co58+LN2ovylJWGsbD3JFvsC/L0xuS8u2aGrs7pbxco7fk2HTf
l1ms1qZULIj/F2q4JSVjQ+m9nQZbcV66tNpjTjTbc0NOeYPPob7f8f/D/0eQptKNjX3+RGWBPeRt
HGvSiVIHLvL/GUrExcIAFJZAGe7eIf4V2dtL+9Hq4jQaOuhc9dnCRA1u0UZhXnIkVJMid8nZV496
RIY1xX2+RFWhjZJJTPcGFZCEXN/E6pf8GfTEyx4rhDo9RW0rbjpbpNHELgrU5Eey1lbO5cpiQ95F
PAZij7p6nvDGDZfU53xaINdgVPsTVQX2sKtxjMaS7ha9ZCCxwtmdgrv8oc+456NcSs5hU9CRNvtI
iX+s3S1e2kgnP6aR/2bo2LTbLy/xbyzRIhgi5MVg9/7Tiu99Hj29hnvlD8aMT3imkM9t6SskwgFk
GIgOqsSpPN7CwBt68x6BJc+eLOMXSFA2GQ8wIHSrZQkPuEoV+SiXfJBKPr2CubWQk+AXyJZP26Dx
qgSz23pWSbWKgNnpXT6rjb9pDx9goAyqgYyI4P/7+XcSppyUohgq+nyanjxQPa8ybYVMeOzwe5sS
hEuXnNV4FELKCWWOWYfYRMFOviop8VFCfbJLO5n8rhAhEpCgF8p0fGf+Ve4/hfk6tenXZFRpnGg2
kDQS0oo8pdrY5hxSHWPQg6K3NuvmK0SeOzeoJQHp0QMthonjzlCIeJEEMY1DPoVT7+3FQNy/r7r1
CJmMLNY6lrKDrqHhkdGR2Oc5psYSrDNpDS/DZHatBmAgYeSQsD+qaHUvhsT+9xJjrgnP659jsv2j
3BDvHjUbUXj6mWMjG6Jn9nMovm96/as6Envii/ZEte2lnK/CRgn4b3OnuqtnbidGO50QPVouFzfG
be0INjbVBWGHEozqH5WuAhhID7TairKplE/FBIVkzfj2VZ7yyFx13ns8nzvvUne2tNbV6tfpOEdY
lP8oUY4Fv1HiPjc1iCvXGMd3sUmyIyNxPyZnLMG6KKroeSctKo/NCpMFE5JJxUXkH3dEbb9vJZgB
H4LTQvyzaAn7YW0yqS2XyIZhMoDHoBmoEQ2wvZ+cbCK1T/NcZ/VLfFfs/CKDrJGNPaJiZyp74in9
vvN9ZFSFmxL0W8uDtoX3eH23Q2MWFMTiRs2Gf1OFdyN69/5DcFZsexoD+7Vb03xN8L1gYiLLCAH9
NVf6EClnqFHbdm5UvaWFimIoNVP0JAzaxh5IMndq2iHMqdO73s526EIx5MTxcBRsQ9LaeyOUiVVd
sbd/hXEWYNaCAfCud8RfoOW7lKyPyVbnfOIXIPzPiPNkEEufnSs3335nYYCwiFXq0MZslVXhYYcH
OAgFgYYhSArmfiaXupXIjedugfzU2kjkrcPEJVyZOyKayWbh98Nw82Ysb84YSqvLrul3382Nw6Pd
fP9+r1DmC8+Y5H77w+3TlXV+3nNyqC5qlUT8M2MZi8/iZSwLbQ9pPNcupVf0G4Pj/KWHYeQ5xxnG
LkCnYWIt6lKFRyd6rkvB1f1cL3diJvtd+ECVwp2wxlmbXdNz9Ggs2iP0b/epFL68+d3unf2jf7Rk
UXGT5BmHAjJlE162NzbvEyyE+0SX7+H/A6fU5+T60mYPiDwm97DCHTBasDUwPLQpf5zof5f8ZiPt
RHjBErclj4SkkUgdTFeUC4riYN6sr22e5iSfhk+9hZ23evdujtKZV3Ia0inJPOgXKx5mG26RiPJl
OAjx56juFAgoKWpFmx6r3op5onDBElHdM6Wf+Y7T0yJb/YxNfYRRHw7fbVN52LxcmvlVWlUUQJIQ
PAiYGws7pU8TovLiiMjsmDeIL4xhSLT/hBnQqJHW/7uX511d/rBSNWVOEH6gz7RFGx4/FBw4kWTA
wm+RzUTZ526pyp1BoCMo/cO8nbirkfxqdQanY7gcutA5+xUtm/faJQhs8grlR192bFkZOH5xRNr+
C/z7S98ps88ExNmXc6uayTd+2w8FiZrpsSLrNYomhqc/ppfgxlcekf5Nu9WlD8QeA3hQdpvPdvBO
EzB2MWVpUrkJonyCG+Gt8kEB20ThSwvr1WUBb/D38M00Y7+r0veMN+CdMWuaHFH4DeG+KU8eqWM3
z1rdZqV7t9FukO9ke41P0uwNnI56a3uhvjGt6lNi4zzoVFQcMUnqeMjfcnTbCc9/TJ6qHclbu+NN
jHfqwV2rx/UV++bXT73C19CHXApU6TmYY7hlcCwQ/USt+GiJlkApFjGWiyd2GqMuB36S08LSdIun
otXimBdKrn48R5A7NTJ3hDqs7uD7zxmTUb9CyMdqUNFW6VW3BAkI/UYNj4pprE9qcOiDHbp9H82Z
NXLK55B2bbo9l7TlzfGkTy1vv+H8kVB69ZLKULqiyEWyJwqjIkrTX+kXzg8dPjqVWWU5+LhXHUfh
Drbg82CUf/h+hnxg8T474hYsN4gjv9DXo2NXkia1uae2j7mXhlBGHT/IPqKuReVMr2DVS8LHFQGM
08lk9GoKeHbdUGzUUEbcOArpczxtYFFU7I/SzphVVOLuUsyczXuxh0R5i9jFnnwFSsWNAgUOVcA/
v1fd6A+nJG78TyRf8FAiq/5VVv2HIcWZq1du1aU4irTzi1HU5wDj4j+r+xCrtJirnQ5zRaXZkVKW
ZKpyOExV5UkpIYprTFF9cYsrPaMhP0VW5U/Sa/ry5qQdPHa6Lu2+BuSh6/xRwaFvMe+scF2VJkum
NiiVX/wDoyRENghQxAMhyaCTMn4tYZl2asVKb0VxfppJguuM4FMmwcOAOqL73wQlEiW725ebbEpr
nFNaFWsIGWaIW5ZkWiwhB7dB6DDksV2BVPN1g+ZTGoQ0RDrABEgBFIMwmRRFxkt2cqpHb7AWo4nv
qDVEogbAHdsok97mC1K/+PljXImZP42JIgVITdzTV7g2mHmGIpbgVC25/KiZSyB1JXZbZVekXgej
mcbZzsaZgcLJFa24CCo4jDe1z6IVU5bngmEk3bGD+gUiHR+XnpGkT8ot1yYX1U5uqSp8f3PfeKnB
LqpVL1rq3ZpXUzArkJTmc1gtviTuy/uQzA8n+ypUG/+4z9jMKIYpVXLi2smElgGAIh5YMB8+BCN4
soxHQpvZt8PJEadLq3ZrjLa8ao3dXqLRh9SpBS3vrDsikf8ZiJfKD769fjK4b/RN0HlOfjIsMGzQ
yl5J37sV8joNWp9bExTfMxYlaVS5WXq9Zm7bqxsird5foDA5S1MMLRkVhYc2LxkvFAaNNbJFC72b
s5OFrYGg1XTQluzItHH7d0C1YlhZrK4vqPYrgqKEH2Li0ssQFCmAo7Iy5VMFPLVnwvhtOQji/xPd
DHAAKpyiB1Gc8i6RCA9nQfAIx3tn0sxe2A4kjA2jzHxw/jyg0sA5hpEW4sTMGfN0Y9l6gNh0SRQg
3tUlnqaKySdhOBgNGtqSAeIDj8Tj1gkRChJ99IlwJFa//9J8sTJTJ784GzmMFLmFXL1UfkAIMMCj
x8eei40xlCI4xAP3XpVLdwm4qd8l6QYwomhqrIBMvB9sz0CbBUqrkpCHdxlDhOdY7KdhiXzn5y/9
iqAw4evYOEMZaN5HJVt04mKBg4ANZ+0zrxKrOGGO+NN9KUuLj9OMpRQgwbuv51rV3Y0SeX/MDT/B
Y8C5c+vPm1LrOuT7Ux4E4hUc0wwj6Es4pgV/r58kknE8Q4CErOB9q6CZxD3tQhvjNlAyZvF799Lw
shYK5YraOBBhAD9U8HZDFTwV9rUFmEtQzLaOncKmv9/BSeTg84aLWMxCFtvMZCWx+ROHihTyc6NP
rvjDyCfNTSUrFWI3AwJmYcK++M0ToplihkQlyZ84n06fD2gR6gn8ICADdCV2ihbhTKNzoHdZ65fd
yrtyV5GO2NQEQiLI4g77QeI/p8uO34iQic/h+HUbV/ZtpImp4ZyE4eQ28PEgh7cbEIgcwN26cfVj
9LdKN3CHN1rzyBU+suPm1sfJjD8yaM+wBK9Cbw+mpqjlZvOH4pgasAXsoWVEC9av/+x7WeIHYs7E
IgfWf9X8ZQ+iJxL4SGOrzzJFV0uCLaiRBvcieJJzZwpCPz6Jk8ihv9+BF4Qa4Mxq4rdmSMhVURGZ
qLM6EhWutKMYKl/LgrsodYuTFRspdfAM1lo5iqEprez8SI1oikz8P4loSk2End+agoZmXLFRkbzY
3HVf7ZVR4Ui1qFOGUBFx1XcEMX4BgiGq8Tf42/k3xqs+gQV4SeNw77dLdrdHTLCI/V+O/7kmiZHE
zM4IfL906eWnZnYGw8KotYwb7cM/2vKmCfZ2iPYP6Eb/37FfzUcf+K9jeTv1JJYQ1TI0RI4b6PBc
SoBMAiad0E+mIEYd3vmFmUgwH1gNA5AE9W5cNsGNIH71/kZWA7NnI5wIRrxM4rMffXiCD2VtuHdD
7xDcANzHEojmg+uSRGIl8QVD+LafVbkYT8OPYHbUO4eOxMZqzX0EqpouM3mAPL/24YAHprYQLPOy
4wsp5QQymVBRgB+fbRhvTU9tbvN48YXowtEln0+XR2gH6iwEciOyBcG8lZ4AfL6Wml7io2fMTVa2
5IeWjojz7boahytX+mKJSfP7Yd+XYnOCdQpzbVSnJjGAmuFiqzkDal17XG9LKTBJ+/VWS8TsbfJl
ZrrwFZWeTznB9dSjIFCqkcPI6kDWxavz698+wUmZaWMLGLhEVPjVSThiEboFKba5mk7dnkJnip/8
erjha1j+pWxpd1Cr/H392RBrLoq4AbUqxjI5J75wYnc7PaxHLChqQRJjyBRcYjXfLbXLQlWdSRma
bHp/wTpcjLQQRpACEGKoSpKTTYVGc4k1GUVxXTgd4CbFoTi0C6Uycpqa8tJL0umuwMTuQ6DXTmwk
ugCFcVpw/WCMaNVyE/0z61oSG6wOZuiHf6Xhx6I4PKKzZ5ktCYnxmz+NnVrtYtvXSBRfz5uv2Zc/
xfHjjxgiurW3YBFz3OHOcbI/Xdag7UX4kJfrhi7V2nqms1W2SQAT9+zaLMrLMJpP4h0+imCImkMa
1743YwYvmlnIQjCk9mkC3ThS13ZW08cPDoLzRAayehCkIqsGwZEtfMRVbBHmrOohvLtgg7ixsalJ
vJfZ3NzU+Ge0qaHBdMCuU/FH0n0sppfNcj4Hs3asxpvZ/+HxsE3wJDMPHNwPL/v8AImnnabTPDmD
QhuBmCqUzZLNEqYSiXZRzir8dCeHXZezykOju39iIhuRPTbtxgvucr3dKpTNRlcNgjptPEYgbIXr
a2WdVOPxahBqXUS8Cs5qKf7m12cw4mPGfh7PVi5eb4uKXVFkhoEPtvqsNHvUhhkc+/hszO4NUuD+
lls6RucLWS2+YFKSO2RN9mSadUkoCZ4kgAHub3gSP5LaaE2TuCTSoeSZWVdT0XCIzUq2yht3Ns4O
SPZZ+H8Isj82vssjML8Se0sK5NFf8DFcp3tcxKvgP9urY+IxlvInK5H1NIo3XZJlTneNm5jqy+oI
OmZm5vqndrvzDRmsuzDIYBR7OsM9rtD0gvKygVX5BZkTnc6mNKu+LuzQruW/MpUMxeE5M2Li+jX5
E0RUFb/+QzIZqTaNyQmXzXSGVXKf0hEo8egTdn6tVSr9AZVO6020KiasYOYEJ68Yr/bnCg6qEQr6
f8hHVJJ4sSi+Ruvb25a86PGHxsh3riyT9qla9U3SvLfq9MvukfbOrkOGTEOiOiOo1AUMR08yaKMY
9btx4zEWPza/tnOSITTPXNRZPXXZzG4BwMTRnHwDwEDiVQV046zOyPlqgsEd8TiTjDtJ+EoEQ+Th
fpFgsoL/w8qWfSGpS6PYXWjWu4q9Dot4O4VQBTCg6Fr5Y1t8tbJsSC1ZHvk67/8+Tov7/NH1UXui
Xr20cNkDyQ2uQV2/wF06r7q0ZNlgTmFIPhcvLb2lLc3rzNPIMpRmY3auUi1eipAfk5mEQz3RZXN9
GcV5hnyZKdcp93/B8yb67FODlSU9c9KcqcWMCoaFGWhN8OXcvDAn5O8ORQpXLi8ozFzoK5pXUVi6
cCC7MKhtT02bnJuTOWdOMC+33Wvv8JYX9va43QfaSSBENuar83c8aeKMKY4FGGAND/cPswAG4oo7
OFfYHZE4gIEMCPt/uMztbJWHHDXx328nh7zZPg5nckxFb8uU7KDNkh1MTQ0FrdZQZmr5CdvsMt3f
VrvSZbJ5rhHYLEInuo1A3IbqvtgmI16kf8NKJDgnHR+Tm90FJsNzPlwWA1VF0Oy/UDIZnfU6hjzq
ZbHs08EKq98pZLEo++O+sE27rs/9BLU+Zm4Ftf/i+y6jiAeyPUZ2z+U4t9WJVxtjfUe8R8Cn8v6F
o5CkntcxJ3+8JZRukIhpIskSqS0mXupNYL+MExO4tlpSzn7D++UDMSz6yz//tDIZ5DNigCQxXxyL
oSmFX/Ity++2xdf2UYxTS43bGAhiZuBf7UCVoo6g6l0jua+2k9ekxy+65xXzGir+A15o/OXWVEaE
wRj5HxonwnYtoqiN8W0FR/yy2nj8px+hsSLGi+nJnxub79fmBhIP4H3MP1RL9Erigpon2PfN0CH1
1UaWo2QKemLJEjszGTl6llwjv7U1vylwVNw/l5AuTN4mp/njp+Lq9m8vZCUmGCl9tbcapYvxswQ+
At7XUCmVY88XZ/fk9T8JhXtKxVSRZKlUpSgxSDDwn5YCJCkrunYoIS2FEV/38RimGvtR2/h+L0Ls
QpR04nyJ2/FLz07mYnPjXdfDy9SQGAClFxzrosfRHlow+AdQWrIcTsKVZPgcSk/woeIacHS6+A43
KM4GC+glOra4mBIoKSbOdYP4UAuQZvGngI4ny0wnkoEPfcmZQZwe55XO8pNOht8qrq9h0mP9pcd5
qLNcVGT4hUtxloDT9NIpsHUQDb5iPXZTTDxRhk4DeEmD/00BV6dIkxjFSzwHmSQerk1GOgEO6yg8
RcfBfJ0ItyoSPOgidJhAEVRTBHMpAo2ouaPCvvZ7Ebp3EWYugP8jNp8Djfns0+nmDS/3rqU8fsyP
ecRtvIoO7UbbGcwP3hdhPbEI5/38mCOuuxBb/e7YW7AI614+5003H42NmH8G65rUXLrtymLQUqfC
tUR1NRFiqA3d1H3MqbBUD0OPaeLjMTt9Gfyjmg/TlHAfVUH6EyjyD/ze6br0OqeHRnl28r28Op0L
fBbUWcvdSbQA7cD1ZfceCKqb98Pbu5aWSg0BqtubyY4fKTj1/1l/7dbAN+n55b+sEcLCfhREO189
c5X9Tv0/UH1uNFdYT4oal2h+clD/Uo/I30YjThU3JbRuAgwa3jiKS/GuNEgMqt6gg6p9Vl/Vv4zt
n/U9WCDOMbgQSkbHt89rW8IRp5LrNnj7D6h2YLtCEUp2UZJclIR0FFVRi0qk6qqjpINdHX5XA2f7
Otvq+kzXjqX11NEsI9M1aQLr6VqVFnaUgPxWYWLwr4eSMVyQP48lzi2L7vnDjtpj9ZIpdREFlP8c
8nk+sTNdO4Y2FUpGI+2r3Es4ukbaWa/3W+PtHGItV3RLumlM+2d1Vfea/MxQjxaD0pXwLpPCZUrN
CffCWrKeh7mUlUTt20qvLo8dOKacoWZKaV9YkvLdglXFTZ/x3oIeHay1vTU2we4oA0PxddlQoTTx
eSdUMHNn1fudrasUN05sOR/6qggodm1Tk9dF6J8J3poKZSUrEIv2YtGMxI4H3GA9mfTn/ryH/4sh
/Bf3t8cT8b//Y6Mtas8HlkfeOYy43h7c0IacHG3y/ml/PLEppNpa+VWwqT5QY9cecLfrc9R662Ec
sRMKAm48MS8ybMY6y8ZFG1HR+it/KTZaEvFZ5u0iv0t3zn98/rBjy1ltgfKIx4Ft+ztDzlIX0qBE
U7a9XpFZzIi49d6bfQf3FoGaJF5GTt2YIena3j/djyc2Bi8rucnnRAxjlmFDCG6xhaMelW5LYWMF
fhj4Piu65zRFcH+4+80yHdK+LlETNeGPpHm3g/1twWsiCU4AuJlnduuB1AzpCU0A6qiWsGTc7wWf
rYWSnCAYZAdk8tyHUnCwEXjeaMaN5COS1Fdle0JSZ9bfIbvktkjJZyHBe4/tUFoIO3RHWUUpMcsi
JkFaeBesgRN5NngGURdgDniTb2H2BtC05AKZXKjhMASnZ12eIhtVqnvSvKu1t8b74ZloTv0ro9A7
TW57vJQy60q59T425g6ZmAep9xiGVOQ6OIA4VHJDwFghH+vtJWSULVJ4lGcsuLnzQ0O+jnPtDKH9
o73frK6XrkEt1LjHLR3uTrC/PXi4uRfDP3cslnSyWNc5NUHNXb8CCwp/hUCWyD3c7XmXWEsReSpW
R9zW4GG+FMh8Kecz7eyADLUFrN39T2jt0l8WmXhyrncyStwzRZPYWtOGWACxLGTUHoD0HCLzC8xs
m4lPWWahqAU8uRfUTARg5f2djOER75CuFneDdH6QuSZ4SJVXEjzzbXL3c5ZkPhETgBVakt8STsJm
/W3BV3UFYtNer1XLLDvNY2HACcKaa/GnB1vJBT3bW3WfGW883t96h912tYRH0nQ2T/oZvCopEFQ2
UEAaJynLEnxj6I6FfaZQeP6iYn+b0An5kRlQmKk1y9D4Og8QdhYtqbC7dLZKOKHAAiNta+Xo5W2M
L2VZGQ6MnS/j+0z5MyqEYbZ24MrzSKlOK0vNKSXNPXbb7ltPhWU3laMjs8WfnYPhy4l0n4Xv787H
H9O1PlW6v+zvjDdFgewbzIOC0K/EWIDUlT0nCbM40ieGDf2rsp4ycBOmLDFfAGblSwFmllmv91ZD
Fy4LFuXPK3MVTvSdMJl0J0ktUGoxV6fDfsc2q6HDoINyL5g/+56b4frR0tIITiLdVDYsr6YAkjVm
zCvgBs1XSBNVsgchB1hFljPpPouu+rZJogqaMezxKsMa/XX0IEARnDni7yafkBQOI4SPsmubKITT
D5X6pQ835uPtsLisIH7umPinnTyvpk6YTW4Mz/Yf8Df8Gj2Xm2VEl7R5QfsaqTC4rgaTNdxWwrxj
0/Ka8FLCGdlBy+w4ktQ/z4a4LZFiLgXIi7hRNzceZvzzq9cKNCANW1E2yMxsY0882S4Ja067l89e
JKsRK1avjjZc11G8mFtv0nYaoW9s0eq+o4oubK+eQCls0D1ac39YObmqobLVReReWTOHlKAUQQdC
e+4SvqBLuYh+pAE44Lu2bVa2RGWJvJsR6O9m1AQDOLyGiFiBy3F3zlCTJKcSMZ/Y+Sm0+zFt0cnG
aKsWFFCN0BtSpHlqj/rG5IIk7DhBk7Pak2YvlD1vD7PRe6KOm5hfjwLyTAnv2HJuwx8106wqG6q0
U3UEHLqtRl2kbp5/vZ3GUn9L8GOXwL89lI2hCQEieAAQnEgitAcs9+YMX1LuGquuFUBtxnOvTFXD
2IqTDCuphFNiODbe7tx8eJQycSnLDODEMQKXg7fss2AGMHwTHsnOv1LtrdoaS4suUx8kEENY02aY
PeEcyTV/6uhCLEdB7SOrj6R92emI1978urwiAFHViOA0gO6kkpl02wpK+oPbMG80zDlqCHc+07pf
GfOrmcH++BTaz4tVlW2GWmkNZUOnvY0uVAA6R8LrcajR1ajm1/e43XbbLsx4pJJvF+ejDz94+03/
4e7i3Vydj/udO2mbuiyyJMae69imrmF1cRlc+1jOmLJJJh16sDczaLdH1RI4DCiG1vO8fHF3ubm+
2m/Zif1qGpb0DsrJ4WHiRA/YQi5uwPWo1TSbVTKH+POHYsBOrx1mm/XFga8m25LlLH38YAIAJOo0
qjkGAhyEBY+pamyfjpYBkky2GBxx44p2uM4u5o8FrjnnHCoyBfp6Y3kzKdDpMuq/wXyzMWZKxw3P
6xph9J72XL8gbXdtcksvnQy+Nog+nZsKJpF4CR9ucEt2e7k+98huQSGLAyIV+TeMdtA6KRMz4YBS
GjYlITWn0FFO31Tb92Ky9RQQLmsvwdWslgdUZK+5p6AKskFNax/d6B2meR+JZ+a5Z4wra8ynLXEH
Bqu3hVSuN1DxQHx+xSpzNt8YlBDqR4SuHpe4SQriJ1fm5tYJtwkUj451hEBaex5KfD0P20awa1ol
EaogK2XTfhVvLSObtVYBRCaaEJtsungwe6VPxgKe3EleoWdqeeHSzQUyoIxKxCds0t8SBFuNIJZa
sgrxq1bKmBattVqFj55kG9ceOssGOEr4nCkuLyGf6eXCgFgxPHj5U57IPntkzt1DHX8KO8Ijw/Ng
Gc41BRiNiP2q3Cllb/m1a9JYZ8Sc+aJbHYRo4uSUT5aqTLgKrdqv5ao6VRe0RcbIuF+FOE/GQ+ba
iyLQPUjJmtsedMaClHEKeh55oaT4LhiEMJKE+V0k7r7IcVJ5CxAROqCa6lYhmMsWkH3W9P7Ak7jH
LI7JawNYosXQWaDc4ymNEPU541hasPKhrpj2aZ4Da/jk/ZN8PLEhuJJFT2mKTPVlFJbMmSLXFlip
zqj1iadrjVvl0cBxVLSPx40GUJvTF9djdbEuepCiYG5jWQpmIkN0cWaFw2E6RTg8Pzy7XE/30916
iSZoHARaQdeSSvP6ZOxfGYkj0XJ9GIc+HjAMD+AQjSnjuPYC1TBpJ8nlFMOjvKPjYb0892UeMgWD
yWwI4812aY5OkBMIHkWAm4WC3HmKYxPAnnsYeqGrswr2y8INgJ+jYaG/GDywr9cH06giydXi3Z2r
QO71eMLW+qzX1fvaC5Z9uEMkl3s/xcwDJ7mxudXbkgM8YMLd7fX5eMDQenljNg47+FpeT81kmBNQ
b0OGXcx/Hpqn9/37kTG2cxPOJfPz/EHlfvEbJRfdX71YaGgRkgoHm+POVM/iqy8//vDdt+8up8Nu
y9ar2+Vcl3GoYLAFx+iJ20XfHFk3vwm6m3c7wH2YMQxrTxf/secTW2+ZtTRoWtfl2a58sIwQn6bd
4i+JPXw62ttaTZoUuLFauVbiZVik+aDoFFwdqa0yHO6Tx5DhUQc+PGAQN8+HdJz3R/QcIU/16icy
NARgN5ke21gB6Maqkz4M+1t/vZzDLmwDYvcaWcWyKXe3OV1EC7DG+Vo9CLXVaFomlKplpkR4QwDS
Cj8stXK0R5QhwamKeBMsAJulDWqEwS/1l8uA+qhnMVDuhrMqe7FJxtdui4XXEqlHM44IyFUFP16V
zklu5HCIMPyleeweoH7auOxvs64Lif7JBXlUEv2Z/XOXLIamnlcjslLuxrNyb9KYyxh8LSs9duik
KffYWCMgyVpViAQTfJ814m8gy0wNdIiVTIjVitlI3MBxwCxcdhALqgDI8DxrFqnyOHYjCjY+sGm3
fpdWKwq3vwFES9hhGBqGBKL5D2beoNAZt1nV2hMlAXiJpzu2mA19kSUho55LyRJkLrRbEMjbbMrU
Ja1AF7ccwUO+IKLkJDNlgUmHine72qTG3J2cOHQe4fIjpHzetr2oyXie9mnL5kUC72IpKWXAAfMr
mofSC8Nrl/Ejf3aQhmViZ2S4k6UxOK4oqht4mb4B7e46YP4yiQby+mCsFjF+DrVOdrR0tZ9KPNkj
Qq5RdCwU+VjGu7k+uxwy4qAQnsfihoHlkrZTvldVRbK2jdnRzYm52kAkvHVMhGOyux1WKoXw7LLO
8XkdprIjwPNhzTceBzzE8QqA99wfW8MZCaVXACfKeFAqoxCYywqXjDhIcErqD0npIopwDvKSKT8J
AeLB6OrT7VIqBYAM+4Sl17ytYCpNGpI8p+v4/6ONHKsndI3cKKRI68HxmiMoHb2l1YG91b7Ey1hS
ZhpO3jNNiblfqo0TJXKbHUQEk2Lu4/jWa7S6DBQilKC+ahyed8Zq+KC+Q2orpegGqDtN79cvcsmM
1E4i3c+tf//h8w9evTB/TDaCq9LEVF9+4vurcnok7VVQ72c7nJ1dP6Dzbc5l7kUCHo1sUSK3xfff
ffHZ+2++weN+O3eHMvNDDeq8VvESpQPfQcP87nOlEHxHw6diULbhjtRWMlvMFh0cOheM4zAHDcO3
XHSCZoWU/GbvmWFa0v2XkJMTW6QbVXTPi2eN8SRyxjDvnM8Kj4/A44ePH7z9JjZ4dnO1Y1KNGgmT
H6qF3ybZ0cBOhgio95i2Ns7l0AIsWaD3HOaAOscJNFjQdoI0pdGbjDE/M4o+fTjGoioOGUN9MhHM
uPl4cRqERPcqQkIrEg5XiKs97Q7T6GeUDpkWYVdmx3VcLktkT2+NgKej7pQ3hRu4brca9VpNoMex
+0AY31DEd2P1M+j0e9MJM24RyXynX3USc5Syz1GOc4YLrKx2RrsK3puxRGO6eeNmVlZs0icbY7mT
zfMai0LnxG6eFl0F+ypCqisf3leiq1m7GUGiBU+qrK4Mo3SIbnydvf+Ufz8Bn9q8pco0+Rwsrjzw
SiwSCnhcDrtBp1GrpGLRN4NnmhO5999cgeYPSUB9V2eQn22oaWyxaKiKFh4q56slOGjANRMYQ+Ni
vVBaXtODMIq+HgSMpSPyVMYhnyZ/MZ0lIgCB6TWWs/cREX6U0IQV6mpvu57mACMzZPB4fQGxe4SI
lnydf//J4hiAfxKrdEpNYUzOBBoo/FcuZtPJRNDv9bhtFrNeIxbyfx48sA9W8BKiGOd7+xPErf8j
t6xdshtl+9VcTAX9Pixx9lk4j3dpkVsI3n3IPJKf9887C5mJUJAvF8LOA+VAA0ndJBPUsKStl0wQ
BO0IbdvNUZZyXLpYMSkPfH14Yz6cUikLhc3TmIe9f/+Z09nOFIsuLCv99SVm8J7xvI8MUl3pcL4S
Xc3aPUiQL3Acg4pJRdwoAaKPF/hHUJdBF3W+Z2gMRfwrpUI+EYuEQ163y2ae1n+xn4d27dwWfjHL
blafRm0nTqA/CbFifVO/Pl3QFqyG91AJEhW9B1mDeZrlE6RgdWonkBLG60axwFX69OGEGFGXSch5
bDq68C6OAhHQ7uxJ4idAkAOgABwovQyiAnFvF7rMPvbvP6bffJb+fcqlYj6X6eu9VjOqamUCMyr+
s/6VLqxH1GdQ2yfrjr5EbnyEEmfvEnvMKjxWFp/mkNCV8jIoOK+39OnDIUaTkDOGOWtigklMo5L4
XgkkuKLheIW52tvuYVqgCfwzZ+d0gBMJYge/uZ7fuQX4QjjsvBl/Bjcx2q0GXct7Sii+0DsfIF75
/2/JmmV/CdhFQAnrt2O7Cz3NPgory7ubZ2A71k0+X9DbOtxpSE2QigTJa0VQQVRW0WJKWNaUy6ZF
rOtmXMCmOTD/GGqvQ9vCAt7H4/KlBYvj00ytnz9cklRd4vJMhiwkgvHEpGriszCCZyNVqS1l+gr2
jUaqjyYasRJdzdrNCHrBT2l+yI6jMaE4KcMoHaKm3yYrShvevGfX5v3D+9/ZtH7t6lWD/StXLFs6
u7tr+pRJ7RObG+vH1lVVlEcKQ5kZfl96qtNm1etkM9INIhgU3w3zJJb2nbvX8oCX1D9N7nHLPAsH
gXXBBBZKbssJ8pyPVWEY55ae+enDSRnyWr3xs9Kb44hQNLnEEVrDBM8HEHOaGLLXAEjG5b3dQ2Fl
L197pXPu/cmOazjo9zrtVotWrVTIRQL+n8O7dmzbaoy8N2LqRSx/HR3/cixYUa1HUfwZ4TOioaDf
FFz3vEl+5LVWDB6487yFg6pw1Vp1XYwtFgUXfWLkMBOin8/89KQwhHBxiEVRPPJ4Fsf754vYNGOC
zDlWdEgwjWlxVbY/FFbw6KJJK93V7N0F4nETCjMQOY7CMBJheZNBkxjQfN9/sFga4IfMSnEhTaFN
1gQKyNIJoh/uLze7Wsuo16nkPPZb3geaWzNFriwZvSWcQV1+ehoKrBsN7EskRZ/fXJpSm64MfBAq
5y0nJwjRXK8KUrzpDFOjRaWYP0g+Ze/fwNlkG9HvjJ24B7ZHV4VlCXye4OuKhv8V3la4XykZj/+i
IFHJiiZAbY+644SSwCg0FzJlIArkbqhXOJFSrKqX+vL9d6cf164WcZZNJYM+t9NmMeg0KsAe+H34
4IFg48lr1tTlrt3eTD7ZjdI/MQ6z5+32ocHZXXKPnqsnYbDG5/AH/bmdANtgMSmgSPkDDhLvkiES
8lbv+VGR3+JWfKfFgIPhwtYUCgy6ORLrDWbwPnnPKwBeVoCrrm5XcU5CYQSmI2SkAK8CP9Uev/xS
IuZx2Swm40iLKWs7jhBfRJLURyhw1o8ysJ6fM/wOCVjuq0hdIJjqHlzpQsE6JLqwXtBvhsP7965+
WO9SNU27fmM9ueiNu9FpI/Xbt9uFmmY3yTwrN84ObEfrEHyst3W4MxAwXlRS18XJYSByJppKtNaN
BTp3YP6x2V8H74NEf45b8Z1WgRfDybZQqG42cqqnbDKJrDD4WgGuurqDxb2gZT49EIXgVEfOECYZ
Q415+61SIZfNpMzGaMRhM+XS2iCUqcsvXFhOmq9HoZ+Y7IEaZkhdNVAWjsoZNOhsfJ7r0aLWXezi
T3ErvqsS/b6a4PYGODQmmvA8SktWUz41kBNCCIn0xIn0XWaPx1B2jLtjQT9u4LpBZ7vZ4gTGnyg7
0UtEazLG/vTVPNywFEksFUhbp4gor4OUnULcQ2MHOEI+9DY71xyyzNcV/UGMO6DAgk2JqkH8Wbsj
BZNAhigv7PoGhaG7/izE6YlfBnS6q5cHo0Eh57Nfh6CAXbNGq10CWugs0oKGSmCDNaOnbJxVZ575
0c2pkkEAWFM9WFxKsM6Buf1ldhfgrl+rXq5DlmRJDgzbk3fqsSZnPMB+RqkWrvUWUgh4GsCwx69w
OCS+h7MkvEINYxcckCX5Uv4+weVANxIE42JCg80bv3rmtJD/58ihg2MarLntxe0mUOPsZRKk8MQp
YfrQWsppkRiu37S/YwSVKkjfywpKE0RKcSo1KRWMUchZEHTzM0lE+Wgxz4/NK0fGsFEgYw8KsuRh
bEDm7KEM5XT0uCDK5X//Z4zjmczX/X+O8VAXgWdquLylx5z/mXqp8PX5/c9NQZfjdNtat23NunXr
auHG7gmC7Ap3nbxTvy1mGnQG7x1j6h3pLNVTQVcdKUrJp9xPU9iLHUWQQ8bZ0jT1k8IeA8DreC3q
fwN+j8NmNmqLXPchmPPqMjhjnEI52Fen7uJ0++1YSqf8ACAKfkGJHZtfBWlVzH7twf13HiJ+J2xM
Xlb00QbKuBTTvWQSbxEODwQguV7X3yhvgyfWNjZig5Iono3vCP5SchItSUfcxhEeryw10X6gi9uO
B1CDljwo1A0uYACq/FD/dmOEzoAqxd72be23DjUUxMkHK+PlcrBnH+S9qQvf+JKWWReuv+sG6zdC
RBixHNMnKdwGEUQRuHGDTwZarJ72C3rjTAtemwhQNEJw86ZRO/dfbRJYkyTSonyhRcwpC1q5M+HO
w02QsEvTS0WPnmgctTelqWWu2jM4AoTYAiAzCN4BcFDFU6WbgaxOabQ48Qz3Z0qLj7YGUEUO+e7P
+I8aVxzc3CRSrwFgjA6DAGRTLIXgzv9vcSWSTqz3T4eNmxPuA2xYeDGRGyXpHA9Fyli1Vi0Hhxza
75W9xoXtQhIbqI69vSNCl1a7HMbH6N2JWReloPsJaTcMpMZnO3aEtLdSarIToq2QkKf2MDjN78Di
xYbceSLxxiZQTdvbOdQKUKqDUcLVEsijzLC9FTIIu0PrMUDttnnfFsw/RVZJ2QQxxgCC1zQSzRXi
G4V1vQJ6QNBnKQVvsaQ/q0S133DJKboHC0vjVXCtgaZPEMMlt+bguf7PzG+kY21+C690JwQ8+tV9
zkQqnjyDwrrcnz2Qv/MA/NmZ2c+1/S2od6udddACMhnXj20JX5kKKUR/TEw+GlNeBPiZ4Motrw2F
HLdilJ9VVj+VvXY09A/k++WZHZ6Qb/Kt/7tk6xDUrpQ+RxMoXqB1v0VcUIa9gQiA71lrnIxm9z8B
wXGTz/T2mTNRscSIVo4vrJ7BUcDkRzQBoRN2+PODI6Xqnr/Ve62okLj5qwW14/NaWA/3uy3brC2q
UMuSJdYuo3G8YxKfgeVVJcM2Ku5ATbCD4O49fnm9SYRWFM/6QOMHl9/XiUrsruunVaxMY3uhU5PV
pmaTVkPwXj8ITQMcHopqPeKS3gD0zzY+MzFVmTNc3vISGj/TBvZvW4CQeP2gn5xybSDjWuBDuyL2
qzaCvxiz+gKkyOs3c2DDnVYMuyjRnDSJA/UBPWs2ENwozrxi2V2WBHj3pAAyr5h2kDBYfUkZJ38Y
4dXYMaLJZJPwtmS0SRnzUvkF6hjj47omslCjpIorIe9GgGzfYsRMuc6IYSBw1Iz3jqYq/rc6Y8A3
9fXMhX+HuRNrSpKKK4qCqOXdBHcp48/gqh2Qpa0eXa98t9Alorj24FTfTMV5r9KC6cs7otsF+EjC
pwzRCgTfgOIWlIz7Rsot5k1Z5D7WoonAfi9ZNqnL6xqsJk5GYnvqXOWkNNz4hEGA2/YNEQ53+ZIU
ukGewdMC5wIx/WAxrNOj/dVNXj8G+lRkYmkyHWFux6DTjwDBG+xG3hb5TEnrZcDAYCTpkCPFfuAI
LxCOMI9FZCiyspepkV38OXqvySLuLjdXhz1bzy9964dUjZbeupbbCNlIfo1yokC+5oK64ynJIt6B
n2xbZkzp/nGZ+Hu3Yo74wkLiJ7uim03RyMZOztujgSdYNOy8ax4pWuX3Yd3Sd5i6JzFN8oavz8el
+zWHrq7KXIdH3FJ8HWvfRl09Yl7PW02ANz8GTQQN+xtxlfwxvguVkL5tI9TYUTA89JnSX6PqXaOC
IYdfZKhwGBS3jnSJfLTi+Qng8ZaeCCmTQcjQHTkdHQsacAXAigJW0H7ATBsLTJY9tG1KUpsp2hKl
qmWCl9zqgF1sPrWYlwNonAp7U9YjaiIYCA55j5oDKTMHH3NCvVSNdAYPTr/mHUqt4gQ3PCNsC4EQ
F3VsDaCICiEJidu6ogwComthkfUBUMAKxWCktu7rYBUpdTUZWTwX7V+CYVbPotMBsCyEzpD3TQUZ
pCGzsHVy97JjGrU+iJHGkHr7nIBFSpeUiwcUuIovIFpnW3Td0LewoQphWBCZsUVEzsjIu+tr4Nq/
fnr+gBVunCpjzAiCtWre0mFaED1v9oPSJrLYv5QBF/FeBA46gTtpEUUTK3O3ve2a4GZQJde8aSp6
qSQHNBAB7Z0ixC/AwmS+DrNbDxH3bEv/fpEiFUSwUCxdATf3LeR8G+2GBPi3TGNtYDCWpGdyCzJf
LkBfmhNyhkLOCPxuVwqdBfInal/2q1pwnBeal6EEPB42PUjH9zoEYl/qVxq1xB3Mwy0OAEQhFwhu
t9ovE1iCC0qtZYtS6qyopd4BYPgmY75PGGML1dTwPUI1fn37lrYGTjgdYji9KxEPFydMCI3UgvGM
w+k4LKo88dzipNVibie+RKC1TQRGO/RppuuuPtwcdtu523dtXRVZGgYEy558/FcK4J5Uurutxki4
mrTt8ClsvAsG4leNy+526yoV6fn/GPcEYObU+osQ4HkdtxJexX/n/5f0fKui5/W/sAp5MUtPg0Cg
DuX67G/g/ndhS6xHPMJ/iv3O/z/dIKoj4fnt1gv8ZtUueVIPWuXIyYgeEd4LCzXw32vEM1Ii9O04
Egha8jg3YdkYIkuK0AbsTAhyTBHhxbZyJtzEA41Bj41l0rSXmM9iMbebi47AlZAGALodA4+muKtU
khHNnM2afGEB8kTidEmkBE2RYreskZXNsv6WyTa3VInEJ48B1CZacnMe5SIfNSr7Py6JGThJsj4n
CAZpoIVf1fg43fk7EUHugPj+mPP7X9Uzl2/Wx9z0QBsCmQF+duX/fT8ATQd1rP/rB4OtfwlldF6o
dg9Un/t/O4gzv7SSUdd7jLDqEPEnGkVtzd++OtFHL+dKiBYSFUnrF2vJnJMFH6BJo6yLVJ+sN4zW
pq9Fcakrhve/kYeo8ztvHRZT08nqU/HQPNT/absTagVm1TwA3nM+U5yMsC6QC7KADvC8z3fyOmp7
R7SN81i28pnzL2LWke2sBTfk0rrW3JRRfL4gzhNI2CQnLLKI3dz3Pm+hEloXuQ8JBK15r2vrNXIh
XxQlN8mQmGhwn/Om/+def5XfyNKMnALG3EdLIVXuAdAeaT4MrqEPkY9R82G/FVpDLQP0hXXy8p1s
DigRZYKDdSV0usiat5dms/gqsXZKfc3sBy5C1b6m6pOfC2iVtdE1lNWp9A3V5rItm9uIKystHLzY
xXE2ZzNncFkznyjHMLOBPecYc0Bc7jLmHJm/cYOHYoKHhP4R7TklvJ95jDFtXGOIKkJUWWJylC2F
Yh2XEq0Ut4ZbUmtd6Ln8Y2fRUn0J0MGakkTTWxq8xTmXGJc+vIgAJ7As1U+VxCKjkdekWQt5l3gl
rNkmNsfZg6kxPLChVyEe3p+d4mwUz7dl9RFk2cyc9VIriz6H9Nf6X3zgw11ss+MCsOvwFUHs+FwW
XYZX3LW+l10fcFWX5ByQ4ZQnz91iPLt5j2tlMTto/N3QS3EDNiNKw/jZ0aMw7KADVi2/ywV2d0iC
h+zxEBskdpE2ZdSxcKVHStg4wUNRYWFowa2/Ff2sOh5mMCij3UK2Ch3gUWgZyA8DoqFgkJlyCLhD
gmAG0PszARrDMxE+ac9E6cx9Jk68Q/n4VGWaJN/xmmiStnO5MSaYQihgTAQJboXrE7O1aNLcSS/Q
oEmn1nzcTMcw/WQ4FMtSIpeDLntoo51MJBvREJ6sJZ0nZIeRM4ntUujpTeWxJmnRborJdOhwKx2D
o0ml5cmQDQCNvqj+IZP/4GQ0SCP1f/9T54CxDuonI1dP4S6lBqd85zQVtUQaZ3zvB2dp6egDIAOj
RiYjzmnyowHvOcTsoSQWyUEgK5sLLmp2iV0KB6f7UoPCOBgPE2AiTILJMAXGYCpMg+mQT4vxWo0z
QZthfhkmCrgnU7tJJusQFJIl22VTTDUtDJ1ywpQrLyxh+aYryKnjD0uXLWY5rNAjRYpFLFGi1Gw9
es1RplyFSg98pirscBKV6MRkd/JtEl74EUQYUcSRRBpZ5FFEGVXUSYwm2uiijyHGmGL2js3YmYII
eXb8KysBN0mxJDnW2GJPShy+8KcXXqJKd9wiPHT7oLbBYxLbCoeMj8WjWq00LhSY9x3BiDOp9tjr
K1874QMf+sjHvk2a+b5ESLoF1qJ57IlPCIkIrDLGdkQSJIsttMxS89S441XuMBwePgEhETEJKVm2
QsIVfWK8rrnpajwKSipqGjhqXyqS4Xu7GOTGtua2bJkbS3x4n7JkhTmsEbdH3ZyRXsLu1TEJux1I
O1C3N2pKun7W8eGmkumwh04PDywt9AcZW1eAxJqKlkOX5weajfDGJ2ZeFtV0xtRbiMOpt6VYkIwX
34XPpPievB0EO4h2kO6gWB+ti3VaWcXMoZhj8C/dH3Dinubs5SE/bkpjLRxjrWu2ybbJtcm3KZiK
DMXfZ8O3wa5Ji7Ik6Za8QFsA6G6n0WOHcktTcdAJ+xn+gmmkmlr4FLrJICypzCH5dQUnHaTc4EPp
rf59SL7OB6bHW58bWMaZiQ3j3szkfvrapol8eZ1NBVElHKvey+Kt4HeOnfBm1V+2XJgqQGRFVWAg
nHeN95LWVCFXTPY8hEnilK9Juy6g4XueyvNicIvUYYqnTJo/LOQiShT/Cw6+pWhR/IaqX8EkJ0AT
Ui7EOD6WA7lU8ePeOTeIvX0bfrItsj5Cp9aVXsJw38uH4OwRqh2+hAjzvuxuNrDX8NR7t3jtYOK8
Yh6YW2aKacIET6xWnDE0DPlD2lTXRFW6I9R5X3NRDBbqqaUQATQgEWLPgFxjUp5/FfK9kgqLny79
61pcWqF6Rj7sH7EH3MmhsUWWy/xXN7f/oGNeNQ/OrTPVlDfBY+qv6O2CBX7FFzSPfIOrHyDfAgAA
AA==
) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
	background: #eee url('bg.png') repeat;
	margin: 0;
	padding: 0; 
	font-family: 'Cormorant Garamond', serif;
	font-size: 140%;
} 
h1, h2{
	line-height: 0.9em;
}
h1{
	font-weight: 400;
}
h2{
	font-weight: 300;
}
a{
	color: #e43;
	text-decoration: none; 
	cursor: pointer;
	&:hover, &:focus{
		color: #b32; 
	}
}
.container{
	padding: 6em 1em 1em 1em;	 
	margin: auto; 
	max-width: 40em;
	.name{
		margin: auto;
		font-size: 5em;
		color: #444; 
	}
	.desc{
		color: #555;
	}
	.links{
		list-style: none;
		padding: 0;
		line-height: 0.8em;
		li{
			margin: 0;
			padding: 0;
			display: inline-block;
			&:after{
				content: '\B7';
				font-size: 1.3em;
				vertical-align: center;
				margin: 0 3px 0 5px;
			}
			&:last-child:after{
				content: '';
			}
		}
	}
}

@media all and (max-width: 512px){
.container{
		padding: 2em 1em;	  
		.name{ 
			font-size: 2.5em; 
			font-weight: 400;
		}
	}
}